@import "../general";
.dialog-box{
    width: 20rem;
    .dialog-content-text{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: flex-start;
        .pokemon-move{
            padding: 0rem 0.5rem;
            .sword-img{
                height: 1rem;
                width: 1rem;
            }
        }
    }
}