$fantasy: #fbf4f3;
$pickled-bluewood: #283a4c;
$flamingo: #ea4e27;
$di-serria: #dd9857;
$morning-glory: #97c1db;
$havelock-blue: #5fabe2;
$manhattan: #f6c899;
$geraldine: #f79a93;
$lola: #d9c6cc;
$dairy-cream: #fae7c1;
$orange:#fff8f7;